{% extends 'mailing_list/base.html' %}
{% block content %}
<div class="pricing-header px-1 py-1 pt-md-1 pb-md-2 mx-auto text-center">
    <p class="lead">{{ title }}</p>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        {% include 'mailing_list/includes/inc_mailing_list_message_card.html' with object=object %}
        {% endfor %}
    </div>
    <a href="{% url 'mailing_list:message_create' %}" class="btn btn-outline-primary m-2">Новая рассылка</a>
    {# <a href="{% url 'mailing_list:client_list' %}" class="btn btn-outline-success m-2">Активные клиенты</a>#}
    {# <a href="{% url 'mailing_list:client_deactivated_list' %}" class="btn btn-outline-secondary m-2">Неактивные#}
    {# клиенты</a>#}
</div>


{% endblock %}